h1 {
  text-align: center;
}

.App-header {
  background: rgb(58, 95, 93);
  padding: 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header a {
  color: white;
  text-decoration: none;
}

.newPost {
  margin: 5px;
  margin-left: 0px;
  height: 40px;
  background: white;
  text-decoration-color: grey;
  -moz-text-decoration-color: grey;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .2)
}

.homeScreen {
  display: flex;
  width: 100vw;
}

.homeScreen ul {
  list-style: none;
  flex-basis: 60%;
  order: 0;
}

.homeScreen a {
  text-align: right;
  order: 1;
}

.inputTextArea {
  display: block;
  width: 75%;
  text-align: center;
  margin: 5px auto;
}

.inputText {
  display: block;
  width: 75%;
  text-align: center;
  margin: 5px auto;
}

.submit {
  display: block;
  margin: 5px auto;
}

button:hover {
  cursor: pointer;
}